@import '~node_modules/modern-normalize/modern-normalize.css';


.search-form{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    background-color: #0099ff;
    
}

.search-form__input{
    width: 300px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.search-form__btn{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}